/*-- scss:defaults --*/

$presentation-h1-font-size: 3em;
$footer-bg: #75AADB;
$modal-footer-bg: red;


.title {
  font-size: 120px !important;
  color: white !important;
}

.author {
  font-size: 100px;
}

.date {
  font-size: 30px;
}

/*-- scss:rules --*/

.observablehq {
  font-size:20px;
}

.sourceCode .javascript {
  font-size:20px;
}





